{% extends 'main.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Inter&display=swap" rel="stylesheet">
<style type="text/css">

  body{
    background-color: #F8F8F8;
  }

  h3, h5{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
  }

  h3{
    font-size: 36px;
  }

  h5{
    font-size: 24px;
  }

  p, label{
    font-family: 'Inter', sans-serif;
  }

  hr{
    color:#fff;
    background-color: #fff;
    border-top:1px solid #fff;
    margin-top:20px;
    margin-bottom: 20px;
  }

  #container{
    width:1200px;
    margin:0 auto;
    padding-top: 3%;
  }

  .column-6{
    width: 50%;
    float:left;
  }

  #left-wrapper{
    background-color: #72cca7;
    box-shadow: 0 1px 3px 0 #dce0e6;
      border-radius: 4px;
      border: 1px solid transparent;
      padding: 30px;	
  }

  #right-wrapper{
    padding: 30px;
  }

  #profile-pic{
    width:200px;
    display:block;
    margin: 0 auto;
    border-radius: 50%;
    float:left;

  }

  #left-wrapper-header{
    min-width:50%;
    float:left;
    padding-left:20px;

  }

  #left-wrapper-header h3{
    color:#fff;

  }

  #right-wrapper h3{
    color: #10a195;
  }

  .coffee-cup{
    margin-left: 20px;
    width: 100px;
  }

  .coffee-cup2{
    margin-left: 20px;
    width: 150px;
  }

  .coffee-cup3{
    margin-left: 20px;
    width: 200px;
  }

  /* ------------------------ FORM FIELDS ------------------------ */

  .form-field-12{
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
  }

  .form-field-6{
    width: 50%;
    float:left;
    margin-bottom: 10px;
  }

  select{
    width: 100%;
    height: 60px!important;
    box-shadow: 0 1px 3px 0 #dce0e6;
      padding: 10px 12px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid transparent;
      font-size: 20px;
      color:	#44464a;
  }

  input{
      box-shadow: 0 1px 3px 0 #dce0e6;
      height:40px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid transparent;
      color:	#44464a;
      width: 95%;
      padding: 5px;
      font-size: 16px;

  }

  input::placeholder {
    color: #9fa1a6;
  }

  /* ------------------------ BUTTON STYLING ------------------------ */
  .myButton {
    background-color:#72cca7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:17px;
    padding:10px;
    width:100%;
    border-radius: 0;
    text-decoration:none;
    text-align: center;
    transition: .3s;
  }
  .myButton:hover {
    opacity: .6;
  }

  @media screen and (max-width:1200px){
    #container{
      width:80%;
    }

    .column-6{
      width: 100%;
    }
  }

  @media screen and (max-width:800px){
    #container{
      width:100%;
    }

    .coffee-cup{
      margin-left: 20px;
      width: 50px;
    }

    .coffee-cup2{
      margin-left: 20px;
      width: 75px;
    }

    .coffee-cup3{
      margin-left: 20px;
      width: 100px;
    }

  }
</style>

<!-- Success page styling -->
<style type="text/css">
  h4{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    font-size: 24px;
  }

  #box{
    max-width: 500px;
    margin:0 auto;
    margin-top: 100px;
    padding:30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px 0 #dce0e6;
      border-radius: 4px;
      border: 1px solid transparent;
  }

  .myButton {
    background-color:#72cca7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:17px;
    padding:10px;
    width:100%;
    border-radius: 0;
    text-decoration:none;
    text-align: center;
    transition: .3s;
  }
  .myButton:hover {
    opacity: .6;
  }

  #succes-icon{
    width: 100px;

  }
</style>
<style type="text/css">
  /**
   * The CSS shown here will not be introduced in the Quickstart guide, but shows
   * how you can use CSS to style your Element's container.
   */
  .StripeElement {
    box-sizing: border-box;

    height: 40px;
    width: 1000px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
</style>


<script src="https://js.stripe.com/v3/"></script>

<div id="container">
    <div class="column-6">
        <div id="left-wrapper">
            <img id="profile-pic" src="{% static 'img/us.jpg' %}">
            <div id="left-wrapper-header">
                <h3>Buy Us Coffee?</h3>
                <h5>One Time Donation</h5>
            </div>
            <div style="clear:left"></div>
            <hr>
            <!-- Add form here -->
            <form action="{% url 'donate' %}" method="post" id="payment-form">
                {% csrf_token %}
                <div class="form-field-12">
                    <label for="amount">Choose Amount:</label>
                    <br>
                    <br>
                    <select required name="amount" id="amount">
                      <option selected value="5">$5 --- Here's a coffee, on me :)</option>
                      <option value="10">$10 --- You helped me, so I am going to help you</option>
                      <option value="25">$25 --- I love your channel!</option>
                    </select>
                </div>

                <div class="form-field-6">
                    <input required type="text" name="email" placeholder="email...">
                </div>

                <div class="form-field-6">
                    <input required type="text" name="name" placeholder="first_name...">
                </div>

              <div class="form-row">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>
              <div style='clear:left'></div>

              <hr>

                 <input  class="myButton" style="background-color:#10a195" type="submit" value="Submit Payment" name="">

            </form>

        
        </div>
    </div>

    <div class="column-6">
        <div id="right-wrapper">

            <img class="coffee-cup" src="{% static 'img/Coffee5.png' %}">
            <img class="coffee-cup2" src="{% static 'img/Coffee10.png' %}">
            <img class="coffee-cup3" src="{% static 'img/Coffee25.png' %}">
            <h3>If I've provided you with value please consider supporting our efforts ;)</h3>

            <p>Source code and videos are free to download, use as you wish :) At no point should you feel obligated to donate but if you have the means consider the time and effort I put into each project/video. Thank you!</p>
            <hr>
            <a href="#" target="_blank" class="myButton">Download source code</a>
        </div>
    </div>
</div>



<script src="https://js.stripe.com/v3/"></script>


<script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_51JAExNCbKiyyexfdQII2AcRedbxsYVX2SdWhSDWDEBNGNHN7dxXtRqSjNdzfBm9dltskhOddrUEnfcPuzwIwst5g008UFHWcUP');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          stripeTokenHandler(result.token);
        }
      });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
    }
</script>
{% endblock %}